<div id="navbar">

  <img id="bear" src="./../../assets/images/bar_logo.png"/></a>
  <div class="row">
  
<div class="row">

    <div class="col-sm-2">
    <a href="#/user/{{model.uid}}/dashboard">Dashboard</a>
    </div>

    <div class="col-sm-2">
        <a href="#/user/resumes/{{model.uid}}">All Resumes</a>
    </div>
    
    <div class="col-sm-2">
        <a class="dropdown-toggle" data-toggle="dropdown" uib-dropdown>Edit Profile<span class="caret"></span></a>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li class="dropdown-header">Edit Profile Options</li>
                    <li><a href="#/user/{{model.uid}}/basicprofile">Basic Info</a></li>
                    <li><a href="#/user/{{model.uid}}/education">Education</a></li>
                    <li><a href="#/user/{{model.uid}}/project">Project And Skills</a></li>
                    <li><a href="#/user/{{model.uid}}/workexp">Work Experience</a></li>
                </ul>
    </div>
    
    <div class="col-sm-2">
        <a href="#/user/{{model.uid}}/savejob">Save Job</a>
    </div>
    
    <div class="col-sm-2" style="text-align: right;">
        <a ng-click="model.logout()">Logout</a>
    </div>
  </div>


  <!-- <nav class="navbar" role="navigation">
        <ul class="nav">
            <li>
                <a href="#/user/{{model.uid}}/dashboard">Dashboard</a>
            </li>
             <li>
                <a href="#/user/resumes/{{model.uid}}">All Resumes</a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" uib-dropdown>Edit Profile<span class="caret"></span></a>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li class="dropdown-header">Edit Profile Options</li>
                    <li><a href="#/user/{{model.uid}}/basicprofile">Basic Info</a></li>
                    <li><a href="#/user/{{model.uid}}/education">Education</a></li>
                    <li><a href="#/user/{{model.uid}}/project">Project And Skills</a></li>
                    <li><a href="#/user/{{model.uid}}/workexp">Work Experience</a></li>
                </ul>
            </li>
            <li>
                <a href="#/user/{{model.uid}}/savejob">Save Job</a>
            </li>
            <li>
                <a ng-click="model.logout()">Logout</a>
            </li>

        </ul>
    </nav> -->
  </div>
</div>

