<!--
<div ng-include="'./views/menu/menu.view.client.html'"></div>
-->

<div class="container-fluid">


    <div class="row text-center" style="margin-left: -1em;">
        <div class="col-md-12" style="margin-top: 3em;">
            <img class="center-block img-responsive" src="./../../assets/images/bar_logo_white.png" height=90 width=90/>
            <h1 style="color: white;">Build A Resume</h1>
        </div>
    </div>



    <div class="row signin-background">
    <div class="col-md-6">
      <div>
             <h1 style="text-align: center; color: white;">We help build customizable resumes, catered to each job application.
</h1>
<br><br>
             <h4  style="text-align: left; color: white;">
             In today’s competitive job market, your resume can’t just be <i> good</i>, it has to be <strong>exceptional</strong>. 
             <br><br>
             Build-A-Resume creates custom resumes catered to your dream job to provide the ultimate competitive edge. Build your profile, link us your desired job, and let us do the rest! Within seconds your fully catered and customized resume will be ready for recruiters to approve for an interview. 
             <br><br>
             Let us ease your job search stress by giving you a resume you can be proud of, and that best showcases your value and gets you noticed by all recruiters in a blink of an eye.

</h4>
     </div>
    </div>

        <div class="col-md-6 pull-right">
            <div class="login-border login-box" style="color: black; background-color: #FAC68B;">
               <form>
                   <fieldset>
                       <div>
                               <h1 style="text-align: center;b">Sign In</h1>
                               <p  style="text-align: center;">New Users Register!</p>
                       </div>

                       <div class="col-md-offset-3">

                           <div class="form-group">
                               <div class="input-group col-md-8">
                                   <div ng-show="model.error" class="alert alert-danger" role="alert">
                                       {{model.error}}
                                   </div>
                                   <br/>
                               </div>
                           </div>

                           <div class="form-group">
                               <div class="input-group col-md-8">
                                   <span class="input-group-addon"><i class="fa fa-user" style= "color: #2c3e50;"></i></span>
                                   <input type="text" ng-model="user.username" class="form-control" id="inputUsername" placeholder="Username">
                               </div>
                           </div>

                           <div class="form-group">
                               <div class="input-group col-md-8">
                                   <span class="input-group-addon"><i class="fa fa-lock" style= "color: #2c3e50;"></i></span>
                                   <input type="password" class="form-control" ng-model="user.password" id="inputPassword" placeholder="Password">
                               </div>
                           </div>


                           <div class="form-group">
                               <div class="col-md-8 center-block">

                                   <div>
                                       <a class="btn btn-block btn-primary" ng-click="model.login(user)">Login</a>
                                   </div>
                                   <br/>
                                   <div>
                                       <a href="#/register" class="btn btn-block btn-info">Register</a>
                                   </div>
                                   <br/>
                               </div>
                           </div>


                           <div class="form-group">
                               <div class="col-md-8 center-block">
                                   <div class="text-center" style="color: black !important;"> Or </div>
                                   <br>
                                   <div>
                                       <a class="btn btn-block btn-primary" style="background-color: white !important;" href="/api/user/auth/linkedin"><i class="fa fa-linkedin" style="color:black"> SignIn with LinkedIn</i></a>
                                   </div>
                                   <br/>
                               </div>
                           </div>

                       </div>
                   </fieldset>
               </form>
           </div>
        </div>


    </div>


  
</div>
