

<div ng-include="'./views/menu/menu.view.client.html'"></div>
<div class="container-if-fixed-header container-fluid">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">
                School
                <a ng-click="showYesNo(0)">
                    <span class="panel-title glyphicon glyphicon-cog pull-right"></span>
                </a>
            </h3>
        </div>
        <div class="panel-body pb-margin-resume-data">
            <ng-include src="'views/resume-data/education.view.client.html'"></ng-include>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Technical Skills
                <a href="">
                    <span class="panel-title glyphicon glyphicon-cog pull-right"></span>
                </a>
            </h3>
        </div>
        <div class="panel-body pb-margin-resume-data">
            <ng-include src="'views/resume-data/technical-skills.view.client.html'"></ng-include>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Project
                <a ng-click="showYesNo(1)">
                    <span class="panel-title glyphicon glyphicon-cog pull-right"></span>
                </a>
            </h3>
        </div>
        <div class="panel-body pb-margin-resume-data">
            <ng-include src="'views/resume-data/project.view.client.html'"></ng-include>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Work Exprience
                <a ng-click="showYesNo(2)">
                    <span class="panel-title glyphicon glyphicon-cog pull-right"></span>
                </a>
            </h3>
        </div>
        <div class="panel-body pb-margin-resume-data">
            <ng-include src="'views/resume-data/work-exp.view.client.html'"></ng-include>
        </div>
    </div>

    <div ng-show="model.createResumeButtonPressed" class="row">
        <div id="loader">
          
        </div>
    </div>
</div>

<div class="text-center">
<a href="" ng-click="model.getResumePdf()" class="btn btn-primary btn-lg">Create Resume</a>
</div>